@import "/assets/css/pokedex.css";

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  background: #e3e3e3;
}

.card {
  background-color: #efefef;
  border-radius: 1rem;
  padding: 2rem;
}

.title-page {
  color: #393939;
  font-size: 4rem;
  margin: 0 !important;
  padding-bottom: 1rem;
}

.content {
  margin-top: 2rem !important;
  position: relative;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.pagination button {
  border-radius: 1rem;
  color: #393939;
  font-weight: bold;
  padding: 0.5rem;
}

.custom-btn {
  width: 130px;
  height: 40px;
  font-family: "Lato", sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn:hover {
  background: #e3e3e3;
  width: 20%;
  transition: all 0.3s cubic-bezier(0, 0, 0, 1.12);
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  transition: all 0.3s ease;
}

.btn:active {
  top: 2px;
}

.back-top {
  filter: opacity(0.5);
  position: absolute;
  right: -10rem;
  top: -17rem;
  height: 35rem;
}

.back-bottom {
  filter: opacity(0.5);
  position: absolute;
  left: -10rem;
  bottom: -17rem;
  height: 35rem;
}

.border {
  border: #0000001f 3px solid;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-show {
  display: block !important;
}

.modal-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  max-width: 35rem;
  max-height: 40rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.title-modal {
  gap: 4rem;
  top: 2rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.pokemon-id-modal {
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffffd5;
}

.pokemon-name-modal {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.pokemon-name-modal::first-letter {
  text-transform: uppercase;
}

.card-datails {
  background: white;
  border-radius: 1rem;
  height: 18rem;
}

.pokemon-img-modal {
  filter: drop-shadow(0px 0px 6px #0000003b);
  height: 15rem;
  position: relative;
  top: 2rem;
}

.pokemon-stats {
  list-style: none;
  margin: 0;
  padding: 0px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stats {
  font-weight: 500;
  color: #00000052;
  margin-left: 0.5rem;
}

.stats::first-letter {
  text-transform: uppercase;
}

.status {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.back-modal {
  filter: opacity(0.5);
  position: absolute;
  right: -20%;
  top: -21%;
  height: 27rem;
  transform: rotate(-23deg);
  z-index: -1;
}

.modal-types {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.modal-type {
  font-size: medium;
  font-weight: bold;
  background-color: #ffffff4f;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  color: white;
  margin-inline: 0.5rem;
}

.pokemon-details-modal {
  padding-right: 2rem;
}

.pokemon-abilities {
  display: flex;
  margin-top: 1rem;
  list-style: none;
  justify-content: space-evenly;
}

.abilities {
  font-weight: bold;
  color: #393939;
  margin-left: 6px;
}

.abilities::first-letter {
  text-transform: uppercase;
}

.title-abilities {
  color: #00000052;
}

.divider {
  height: 1px;
  background: linear-gradient(
    90deg,
    rgb(57 57 57 / 16%) 0%,
    rgb(149 149 149) 50%,
    rgb(57 57 57 / 16%) 100%
  );
}

.points {
  font-weight: bold;
  color: #393939;
  margin-left: 0.5rem;
}

.status-left {
  display: flex;
  width: 20rem;
  margin-left: 5rem;
}

.pokemon-skills {
  width: 100%;
  list-style: none;
  margin: 0;
  margin-left: 1rem;
  padding: 0px;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skills {
  margin-inline: 1.5rem;
  background: #0000002e;
  border-radius: 1rem;
  height: 5px;
}

p {
  padding: 0;
  margin: 0;
}

.skills .stat-bar span {
  display: block;
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.5s ease;
}

.skills .stat-bar[data-value="hp"] span {
  background-color: #f44336;
}
 .close-modal{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
 }
@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    margin: 0 auto;
  }
}
