.border {
  border: #0000001f 3px solid;
}

.normal {
  background-color: #9198a0;
}

.grass {
  background-color: #63bb5f;
}

.fire {
  background-color: #fe9c53;
}

.water {
  background-color: #4d90d5;
}

.electric {
  background-color: #f5d13f;
}

.ice {
  background-color: #73cebf;
}

.ground {
  background-color: #d27a48;
}

.flying {
  background-color: #92aadf;
}

.poison {
  background-color: #aa6ac8;
}

.fighting {
  background-color: #cd406b;
}

.psychic {
  background-color: #fb707a;
}

.dark {
  background-color: #5b5265;
}

.rock {
  background-color: #c8b78b;
}

.bug {
  background-color: #90c02c;
}

.ghost {
  background-color: #526aab;
}

.steel {
  background-color: #588fa2;
}

.dragon {
  background-color: #0b6cc3;
}

.fairy {
  background-color: #ed91ec;
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  padding: 1rem;
  margin: 0.5rem;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.pokemon:hover {
  filter: drop-shadow(0px 0px 6px #00000087);
}

.pokemon:active {
  top: 2px;
}

.pokemon-id {
  text-align: end;
  font-weight: bold;
  color: black;
  opacity: 0.2;
  font-size: larger;
}

.pokemon-name {
  font-size: larger;
  font-weight: bold;
  color: white;
  margin-bottom: 0.25rem;
}

.pokemon-name::first-letter {
  text-transform: uppercase;
}

.title-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pokemon-types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.type {
  background-color: #ffffff38;
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  text-align: center;
  font-size: 1rem;
}

.pokemon-datails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-pokemon {
  width: 60%;
  margin-left: auto;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.164));
  z-index: 1;
}

.background-pokemon {
  width: 100%;
  filter: opacity(0.3);
  height: 100%;
  position: absolute;
  left: 5rem;
  top: 3rem;
  background-image: url(../img/background.png);
  background-size: 60%;
  background-position: center;
  object-fit: fill;
  background-repeat: no-repeat, repeat;
}
