.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  padding: 1rem;
  margin: 0.5rem;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.pokemon-id {
  text-align: end;
  font-weight: bold;
  color: black;
  opacity: 0.2;
  font-size: 0.825rem;
}

.pokemon-name {
  font-weight: bold;
  color: white;
  margin-bottom: 0.25rem;
}

span.pokemon-name::first-letter {
  text-transform: uppercase;
}

.pokemon-types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.type {
  background-color: #ffffff38;
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
  border-radius: 1rem;
  text-align: center;
  font-size: 0.625rem;
}

.pokemon-datails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-pokemon {
  width: 50%;
  margin-left: auto;
}
